/* ======================== */
/* Basic setup */
/* ======================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
html{
    font-size: 62.5%;
}
ul li{
    list-style-type: none;
}
header, header a{
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
}
header h1{
    font-size: 4.2rem;
}
/* ======================== */
/* Reuseable components */
/* ======================== */
.row{
    max-width: 114rem;
    margin: 0 auto;
}
.btn:link, .btn:visited, .btn{
    display: inline-block;
    background: #000;
    border-radius: .4rem;
    padding: 1.5rem 6rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-top: 4.5rem;
}
/* ======================== */
/* header section */
/* ======================== */
header{
    background: linear-gradient(rgba(100, 58, 121, 0.9)) ,url("img/hero-bg.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 2rem 0;
    height: 85vh;

}
nav .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 3.5rem;
    width: auto;
}
ul li{
    display: inline-flex;
    margin: 0 0.8rem;  
}
ul li:nth-child(1){
    margin-left: 0;
}
ul li a{
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
}
ul li a:hover{
    background: #643a79;
    color: #fff;
    border-radius: .4rem;
    transition: .3s;
}
.active{
    background: #643a79;
    color: #fff;
    border-radius: .4rem;  
}
.row-custom{
    margin-top: 11.5rem;
    text-align: center;
    color: #fff;
}
.btn-hero{
    background: #eb7d4b !important;
    border-bottom: .3rem solid #c86a40;
    font-size: 1.8rem;
    font-weight: 600;
}